<header>
    <div class="logo-container">
        <img src="/assets/EMBASSY.png" alt="logo">
    </div>

    <div class="page-title">
        <h1>Online Catalogus</h1>
    </div>

    <button class="nav-menu">
        <img src="/assets/menu.svg" alt="navigation menu">
    </button>

    <nav class="header-nav">
        <ul>
            <li>
                <button>embassy</button>
                <ul>
                    <li><a href="#">embassy</a></li>
                    <li><a href="#">over embassy</a></li>
                    <li><a href="#">organisatie</a></li>
                    <li><a href="#">evenementen locatie</a></li>
                    <li><a href="#">steun ons</a></li>
                    <li><a href="#">nieuws</a></li>
                    <li><a href="#">partners</a></li>
                </ul>
            </li>
            <li>
                <button>collectie</button>
                <ul>
                    <li><a href="#">collectie</a></li>
                    <li><a href="#">online catalogus</a></li>
                    <li><a href="#">digitale collectie</a></li>
                    <li><a href="#">world of the free mind</a></li>
                    <li><a href="#">verzamelgebieden</a></li>
                    <li><a href="#">over de bibliotheek</a></li>
                </ul>
            </li>
            <li>
                <button>museum</button>
                <ul>
                    <li><a href="#">museum</a></li>
                    <li><a href="#">webshop</a></li>
                    <li><a href="#">opneningstijden, prijzen & locatie</a></li>
                    <li><a href="#">tentoonstellingen</a></li>
                    <li><a href="#">agenda</a></li>
                    <li><a href="#">over het museum</a></li>
                    <li><a href="#">kidspagina</a></li>
                </ul>
            </li>
            <li>
                <button>onderzoek</button>
                <ul>
                    <li><a href="#">onderzoek</a></li>
                    <li><a href="#">archief activiteiten</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
