<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Embassy Of The Free Mind</title>

  <link rel="icon" type="image/png" href="/assets/EMBASSY.png">

  <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Playfair+Display&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/styling/stylesheet.css">
  <link rel="stylesheet" href="/styling/header.css">
  <link rel="stylesheet" href="/styling/nav.css">
  <link rel="stylesheet" href="/styling/catalogus.css">
  <link rel="stylesheet" href="/styling/detail.css">
  <link rel="stylesheet" href="/styling/footer.css">
</head>
<body>
